body {
    background: linear-gradient(rgb(100, 240, 100), rgb(48, 62, 143));
}

.display-2 {
    color: red;
}

.display-4 {
    color: white;
}

.square {
    width: 30%;
    padding-bottom: 30%;
    background-color: rgb(114, 23, 199);
    float: left;
    margin: 1.66%;
}

#container {
    max-width: 600px;
    margin: 0 auto;
}

#stripe {
    background: linear-gradient(rgba(22, 89, 212, 0.623), rgb(181, 187, 221));
}

#status {
    color: red;
}

#btn {
    text-decoration: none;
    font-family: Arial;
    padding: 0.2em 3em;
    color: #fff;
    background-color: #000;
    border-radius: 5px;
}

#btn:hover {
    color: #000;
    background-color: #fff;
    border-radius: 5px;
}

#ebtn {
    text-decoration: none;
    font-family: Arial;
    padding: 0.2em 3em;
    color: #fff;
    border-radius: 5px;
    background-color: #000;
}

#ebtn:hover {
    color: #000;
    background-color: #fff;
    border-radius: 5px;
}

#hbtn {
    text-decoration: none;
    font-family: Arial;
    padding: 0.2em 3em;
    color: #fff;
    border-radius: 5px;
    background-color: #000;
}

#hbtn:hover {
    color: #000;
    background-color: #fff;
    border-radius: 5px;
}
