body
{
    background-color: rgb(80, 74, 74);
}
.display-2
{
    color: red;
    background-color:rgb(170, 167, 167);
}
.display-4
{
    color: rgb(112, 183, 216);
    background-color: rgb(80, 74, 74);
}
.square
{    border-radius: 20px;
    width: 30%;
    padding-bottom: 30%;
    background-color: rgb(114, 23, 199);
    float: left;
    margin: 1.66%;
}
#container
{
    max-width: 600px;
    margin: 0 auto;
}
#stripe
{
    background-color:rgb(170, 167, 167);
}
#status
{
    color: red;
    
}
#btn
{
    background-color: white;
    
}
